.NI-container {
  max-width: 700px;
  margin: 0 auto; /* 좌우 마진을 auto */
}

.NI-title {
  font-size: 1.5em;
  text-align: center;
  margin: 20px;
}

.NI-content-container {
  border: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
